<div id="trending-container">

  <h2>Trending Merchandise</h2>
  <div id="trending-homepage-list">
  <% if @trends.length > 0 %>
    <ul><% @trends.each do |p| %>
      <li>
        <img id="trending-img" src="<%= p['image'] %>" /><br/>
        <a href="<%= p['url'] %>" target="_blank"><%= p['name'] %></a><br/>
        <%= p['price'] %><br/> 
        <!-- Form to Add to list -->
        <%= form_for @list do |form| %>
          <%= form.submit :value => 'Add To My WishList', :class => "addlist-button", :type => "hidden"%>
          <%= form.text_field :name, :value => p['name'], :type => "hidden" %></br>
          <%= form.text_field :price, :value => p['price'], :type => "hidden" %></br>
          <%= form.text_field :image, :value => p['image'], :type => "hidden" %></br>
          <%= form.text_field :url, :value => p['url'], :type => "hidden" %></br>
          <%= form.text_field :stock, :value => p['inStock'], :type => "hidden" %></br>
        <% end %>
      </li>
    <% end %></ul>
 <% end %>
</div>
    <br/><br/><br/> <br/><br/><br/>

</div>

