<%= stylesheet_link_tag "style" %>

<section id="main" role="main" style="display: <%= @showTrend%>">
  <%= render :partial => 'trend' %>
</section>

<div id="userlist-container">

	<% if user_signed_in? %>
		<img id="user-img" src="<%= current_user.img%>">
		<h3><%= current_user.name%></h3>
		<h4 id="user-city"><%= current_user.city%></h4>
		<br/>
		<div id="useritems-container">
			<ul>
				<% current_user.lists.each do |list| %>
					<li>
						<img id="useritems-img" src="<%= list.image %>">
						<h4><%= list.name %></h4>
						<p><%= list.price %></p>
						<% if list.stock = true %>
			      	In Stock<br/><br/>
			        <a href="<%= list.url %>" target="_blank" id="buy-button">BUY NOW</a><br/>
			      <% else %>
			        Out Of Stock<br/>
			      <% end %>
			      <br/>
					  <%= link_to "Delete", list, method: :delete %> 
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>

</div>
