<%= stylesheet_link_tag "style" %>

<section id="main" role="main" style="display: <%= @showTrend%>">
  <%= render :partial => 'trend' %>
</section>

<div id="userlist-container">

	<% if user_signed_in? %>
		<img id="user-img" src="<%= current_user.img%>">
		<h3><%= current_user.name%></h3>
		<h4><%= current_user.city%></h4>

  	<% current_user.lists.each do |list| %>
			<h4><%= list.name %></h4>
			<img src="<%= list.image %>">
			<p><%= list.price %></p>
			<% if list.stock = true %>
      	In Stock<br/>
        <a href="<%= list.url %>" target="_blank">BUY NOW</a><br/>
      <% else %>
        Out Of Stock<br/>
      <% end %>

		  <%= link_to "Delete", list, method: :delete %> 

		<% end %>
	<% end %>

</div>
